@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}


/*-----------------tablet----------------*/
@media screen and (min-width: 768px) {
    header .container {
    max-width: 768px;
    }
    .section-offer .list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .section-offer .list .item {
         flex-basis: calc((100% - 24px) / 2);
    }
    .section-offer  .title {
        text-align: unset;
    }
    .section-title-team .list {
        gap: 64px 24px;
    }
    .section-team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
  
    .logo {
        margin-right: 120px;
    }
    .nav .list,
    .contacts .list {
        display: flex;
    }
    .open-menu {
        display: none;
    }
    .list .link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    }
    .contacts .list .link {
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.04em;
        font-weight: 400;
    }
    .contacts .list {
        flex-direction: column;
        gap: 12px;
    }
    .current::after {
        display: block;
    }
}


/*---------------desctop----------------*/

@media screen and (min-width: 1166px) {
     .container {
        max-width: 1158px;
    }
    .section-offer .container {
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 1158px;
    }
     .section-offer .list {
        flex-wrap: nowrap;
         gap: 24px;
    }
     .section-offer .list .item {
             flex-basis: calc((100% - 72px) / 4);
    }
     .section-offer .icon-top {
            display: flex;
    }
     .section-offer .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
     }
    .section-offer .title-text {
        font-weight: 400;
    }
    .section-doing {
        display: block;
    }
    .section-title-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .section-team-item {
        flex-basis: calc((100% - 24px) / 4);
    }
    .section-title-team .list {
        flex-wrap: nowrap;
    }
    .contacts .list {
        flex-direction: row;
        gap: 40px;
    }     
    header .container {
        max-width: 1158px;
    }
    .contacts .list .link {
        font-size: 16px;
    }
}